<VirtualHost *:{{ httpd_port }}>
  ServerName {{ httpd_domain }}
  DocumentRoot /var/www/html/{{ httpd_domain }}
  DirectoryIndex index.html index.php
 
  <Directory "/var/www/html/{{ httpd_domain }}">
  AllowOverride all
  </Directory>
</VirtualHost>
